[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-mock = "*"
python-dotenv = "*"
mysqlclient = "*"
inflection = "*"
flask = "*"
gunicorn = "*"
flask-restful = "*"
sqlalchemy = "*"
httpx = "*"
requests = "*"
mongoengine = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.12"
